.express-main-container{
    background-color: #b0d4ff;
    height: 100%;
    width: 100vw;
}
.express-container-1{
    /* background-color: antiquewhite; */
    height: 45vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

}
.express-container-1-1{
    /* background-color: aqua; */
    height: 65vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    
    
}
.background-video1{
    height: 100%;
    width: 60%; 
    margin-top: 30%;
    /* border: 2px solid white; */
    background-color: rgb(1, 1, 38);
    margin-left: 22%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.express-model{
     background: linear-gradient(90deg, #011026, #3388ff, #01316b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 12%;
    margin-top: 95px;
}
.model-express-para{
    color: rgb(20, 2, 47);
    font-size: 1.1rem;
    margin-left: 12%;
    margin-top: 45px;
    /* margin-right: 85px; */


}
.model-express-bars{
    color: rgb(12, 11, 11);
    font-size: 1.2rem;
    margin-left: 12%;
    margin-top: 45px;
}
.model-express-bars span {
    margin-right:3%; /* Adds spacing between text elements */
  }

.express-container-1-2 {
    /* background-color: rgb(213, 37, 128); */
    height: 50vh;
    width: 40vw;
}
.express-maincontainer-2{
      background: linear-gradient(90deg, #011026, #3388ff, #01316b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    font-size: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top:7% ;
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end;
    margin-right: 60px;
    height: 50vh;
    /* border: 2px solid red; */
}
.big-boxes-div {
    /* background-color: #b0d4ff; */
    height: 90vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto; 
    margin-top: 10%;
    flex-direction:column;
}
.big-boxes-div1{
    /* background-color: #07b813; */
    height: 45vh;
    width: 75vw;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.big-boxes-div2{
    /* background-color: #dd6108; */
    height: 45vh;
    width: 75vw;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.big-box-div-1-1{
    height: 43vh;
    width: 26vw;
    background-color: rgb(4, 23, 147);
    border: 2px solid black;
    border-radius: 15px;
    /* opacity: 50%; */
    
}
.big-box-div-1-1:hover{
    background-color: #025de4;
}

.big-box-div-1-2{
    height: 43vh;
    width: 26vw;
    background-color: rgb(4, 23, 147);
    border: 2px solid black;
    border-radius: 15px;
    /* opacity: 50%; */
    
}
.big-box-div-1-2:hover{
    background-color: #025de4;
}
.big-box-div-1-3{
    height: 43vh;
    width: 26vw;
    background-color: rgb(4, 23, 147);
    border: 2px solid black;
    border-radius: 15px;
    /* opacity: 50%; */
    
}
.big-box-div-1-3:hover{
    background-color: #025de4;
}
.big-boxes-div2-1{
    height: 43vh;
    width: 26vw;
    background-color: rgb(4, 23, 147);
    border: 2px solid black;
    border-radius: 15px;
    /* opacity: 50%; */
}
.big-boxes-div2-1:hover{
    background-color:#025de4; ;
}
.big-boxes-div2-2{
    height: 43vh;
    width: 26vw;
    background-color: rgb(4, 23, 147);
    border: 2px solid black;
    border-radius: 15px;
    /* opacity: 50%; */
}
.big-boxes-div2-2:hover{
    background-color:#025de4; ;
}

.big-boxes-div2-3{
    height: 43vh;
    width: 26vw;
    background-color: rgb(4, 23, 147);
    border: 2px solid black;
    border-radius: 15px;
    /* opacity: 50%; */
}
.big-boxes-div2-3:hover{
    background-color:#025de4; 
}

.heading-3{
    color: white
}
.box-para{
    color: white;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.model-express-button{
    background-color: blue;
    border-radius: 25px;
    height: 100px;

    width: 15vw;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 12%;
    margin-top: 45px;
}
.model-express-button:hover{
    background-color: rgb(1, 1, 38);
    border: 2px solid blue;
}
.express-container-3{
    display: flex;
    justify-content: end;
    text-align: end;
    align-items: end;
      background: linear-gradient(90deg, #011026, #3388ff, #01316b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4rem;
    font-weight: bolder;
    margin-right:60px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
}
.express-3{
    height: 90vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto; 
    margin-top: 10%;
    flex-direction:column;
}
