.Skyfunded-parent-div {
  background-color: #000;
  height: 180vh;
}

/* Zoom-in effect */
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.sky-funded-container {
  background-color: transparent;
  height: 30vh;
  width: 55vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  left: 23%;
  top: 1%;
}

.sky-fund-head-div {
  background: linear-gradient(90deg, #ffd700, #b28c00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 5rem;
  font-family: 'Times New Roman', Times, serif;
  animation: zoomIn 2s ease-in-out;
}

.sky-fund-head-down-para1 {
  color: #ccc;
  font-size: 0.9rem;
  margin-top: 10px;
}

.sky-fund-head-down-para2 {
  color: #ffd700;
  font-size: 0.9rem;
  margin-top: 10px;
}

.guaranteed-side-div {
  height: 80vh;
  width: 95vw;
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  animation: slide-left 2.5s ease-in-out;
}

.guaranteed-side-div1 {
  background: linear-gradient(180deg, #333, #111);
  height: 37vh;
  width: 36vw;
  position: relative;
  left: 6%;
  border-radius: 20px;
  border: 2px solid #ffd700;
}

.guaranteed-side-div2 {
  background: #1c1c1c;
  height: 35vh;
  width: 36vw;
  position: relative;
  left: 6%;
  border-radius: 20px;
  top: 5%;
  gap: 10%;
  border: 2px solid #ffd700;
}

@keyframes slide-left {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.guaranteed-side-div1-img {
  display: flex;
  flex-direction: row;
}

.guarantee-img,
.shake-hand-img {
  height: 14vh;
  width: 6vw;
  margin-top: 5%;
  margin-left: 5%;
}

.guaranteed-para-div {
  margin-left: 6%;
  width: 40vw;
  height: 35vh;
}

.guarantee-p1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #ffd700;
  margin-top: 3px;
}

.guarantee-p2,
.guarantee-p3,
.shake-p1,
.shake-p2,
.shake-p3 {
  color: #fff;
  font-size: 1rem;
  margin-top: 15px;
}

.shake-p1 {
  font-size: 2.3rem;
  color: #ffd700;
  margin-left: 25px;
}

.name-div {
  position: absolute;
  left: 3%;
  width: fit-content;
}

/* Right Section */
.sky-fund-right-div {
  background: linear-gradient(180deg, #1a1a1a, #000);
  height: 75vh;
  width: 52vw;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  animation: slide-right 2.5s ease-in-out;
  border: 2px solid #ffd700;
}

@keyframes slide-right {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.Skyfund-right-side-inside-div1 {
  height: 30vh;
  width: 30vw;
  margin-top: 5%;
}

.Skyfund-right-side-inside-div2 {
  height: 45vh;
  width: 42vw;
  margin-top: 7%;
  margin-right: 8px;
  border-radius: 20px;
}

.mt_5_video {
  object-fit: cover;
  width: 30vw;
  margin-right: 8px;
  border-radius: 20px;
}

.Trade-p {
  color: #fff;
  margin-top: 10px;
  margin-left: 15px;
  font-size: 2rem;
  font-weight: bold;
}

.Trade-p1 {
  color: #ffd700;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 17px;
}

.Trade-p2 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2px;
  margin-left: 22px;
}

.download-button-div {
  background-color: #1c1c1c;
  color: #ffd700;
  border-radius: 40px;
  font-size: 1rem;
  width: 12vw;
  height: 7vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  margin-top: 35px;
  margin-left: 15px;
  border: 2px solid #ffd700;
  transition: 0.3s ease-in-out;
}

.download-button-div:hover {
  background-color: #ffd700;
  color: #000;
  border: 2px solid rgb(11, 11, 11);
}

/* Bottom Right Box */
.down-div {
  height: 20vh;
  width: 50vw;
  position: absolute;
  right: 0;
  z-index: 2;
  border-radius: 20px;
  top: 60%;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* Bottom Section */
.down-full-div {
  height: 55vh;
  width: 90vw;
  position: relative;
  top: 6%;
  left: 6%;
  animation: slideUp 2s ease-in-out forwards;
  display: flex;
  flex-direction: row;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.down-full-side-div1 {
  background: linear-gradient(140deg, #222, #111);
  height: 47vh;
  width: 42vw;
  border-radius: 20px;
  margin-top: 30px;
  border: 2px solid #ffd700;
}

.down-full-side-div2,
.down-full-side-div3 {
  height: 47vh;
  width: 24vw;
  background-color: #1c1c1c;
  margin-top: 30px;
  border-radius: 20px;
  margin-left: 10px;
  border: 2px solid #ffd700;
}

.down-full-side-div2 {
  animation: slideUp 2.5s ease-in-out forwards;
}

.down-full-side-div3 {
  animation: slideUp 3s ease-in-out forwards;
}

.down-side-div-p1 {
  color: #ffd700;
  font-size: 3rem;
  font-weight: bolder;
  margin-top: 30px;
  margin-left: 30px;
}

.sky-funded-stats {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-left: 35px;
  margin-top: 10px;
}

.stat-value {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
}

.sky-img,
.time-img {
  display: flex;
  margin-top: 30px;
  margin-left: 120px;
}

.sky-funded-p1,
.time-p1 {
  color: #ffd700;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 20px;
}

.sky-funded-p2,
.time-p2 {
  color: white;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 15px;
}

.link-download {
  text-decoration: none;
}
